.container {
  position: relative;

  .textInput {
    padding-right: 25px;
  }

  & > label:has(svg) {
    display: flex;
    cursor: pointer;
  }

  .showContainer {
    position: absolute;
    right: 5px;
    bottom: 3px;
  }
}
